<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Избранное</title>
    <link rel="shortcut icon" type="image/png" href="img/Logo_mini_1.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="css/favorites.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Source+Sans+Pro:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/header_footer.css">
    <script src="scripts/header_footer.js"></script>
    <script src="scripts/favorites.js"></script>
    <script src="scripts/all_catalog.js"></script>
</head>
<body onload="fillHeader();fillHeader_1(); fillFooter(); add_2(); ">
    
    <div class="header-container"></div>
    <div class="menu_bottom"></div>

    <div class="products">
        <div class="products_main">
            <div class="products_main_text">
                Избранное 
            </div>
            <div class="products_main_head">
                <div class="products_main_head_right">
                    <a class="arrange" onclick="Bott_1()">Купить все товары</a>
                    <a class="arrange" onclick="Bott_2()">Очистить список</a>
                </div>
                <div class="products_main_head_left">


                    <!-- <a class="products_main_head_left_box" href="product_1_1.html">
                        <div class="products_main_head_left_box_item">
                            <img class="center_menu_img" src="image/img_1_1.jpg" alt="">
                            <div class="favorites_icon">
    
                            </div>
                        </div>
                        <div class="products_main_head_left_box_item">
                            <div class="name">Машина радиоуправляемая HIPER HCT-0008 360 Cross</div>
                        </div>
                        <div class="products_main_head_left_box_item">
                            <div class="price">3699 ₽</div>
                            <div class="price_icon">
                            </div>
                        </div>
                    </a>
    
                    <a class="products_main_head_left_box" href="product_2_1.html">
                        <div class="products_main_head_left_box_item">
                            <img class="center_menu_img" src="image/img_2_1.jpg" alt="">
                            <div class="favorites_icon">
    
                            </div>
                        </div>
                        <div class="products_main_head_left_box_item">
                            <div class="name">Игровой набор MAGNETICUS Буквы и Цифры</div>
                        </div>
                        <div class="products_main_head_left_box_item">
                            <div class="price">710 ₽</div>
                            <div class="price_icon">
                            </div>
                        </div>
                    </a> -->

                </div>
            </div>
        </div>
    </div>


    <div class="footer"></div>

</body>
</html>